/* Media Query of screen sizes with width less than or equal 768px */
/* Nav menu with logo and links */
#main-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}

#main-nav ul {
  justify-content: center;
}

p {
  font-size: 14px;
}

#showcase .showcase-content h1 {
  font-size: 3rem;
}

#showcase .showcase-content p {
  font-size: 1.1rem;
}

/* Subscribe Now  */
#subscribe {
  padding: 1rem;
}

#subscribe h2 {
  font-size: 1.5rem;
}

#subscribe p {
  font-size: 1.1rem;
}

/* Media Query of screen sizes with width less than or equal 630px */
@media (max-width: 630px) {
  /* Footer */
  #main-footer {
    display: block;
  }
}
